html {
  font-family: "Permanent Marker",'Montserrat', sans-serif;;
}

header, body {
  display: flex;
  justify-content: center;
  background-color: #42cbf5;
  border-radius: .5rem;
  width: 100%;
}


body {
  flex-direction: column;
}

header span {
  display: flex;
  font-size: 5rem;
  width: 100%;
  align-self: center;
}

#yoga, #sore {
  display: flex;
  align-self: center;
  font-size: 3rem;
  border-radius: .5rem;
}

#table {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

#dayCounter{
  display: flex;
  font-size: 4rem;
  align-self: center;
}

#today, #today a, #today p{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 3rem;
}


#today, #todayWorkout {
  flex-direction: column;
  align-items: center;
}

#workout {
  max-height: 50%;
  max-width: 50%;
}

@media screen and (max-width: 736px) {
  #workout {
    max-width: 100%;
  }
}